@import '../../../../styles/varible';

.login {
  max-width: 460px;
  width: 100%;
  min-height: 500px;
  background-color: #fff;
  text-align: center;
  border-radius: 5px;
  position: relative;
}

.login__title {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.04em;
  font-weight: 700;
  color: $black;
  border-bottom: 1px solid rgba(0, 0, 43, 0.2);
  padding: 40px 0;
  margin: 0 0 35px;

  span {
    text-transform: uppercase;
    color: $orange;

    span {
      font-size: 10px;
      line-height: 12px;
    }
  }
}

.login__form {
  max-width: 302px;
  margin: 0 auto;
}

.login__input {
  max-width: 302px;
  width: 100%;
  height: 40px;
}

.login__inputPassword {
  position: relative;
  margin-bottom: 30px;
}

.login__inputPasswordIcon {
  position: absolute;
  right: 16px;
  top: 12px;
  color: rgba(0, 0, 43, 0.5);
  cursor: pointer;
}

.login__helpers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px 0 10px;
  margin-bottom: 35px;
}

.login__helpersRemember {
  display: flex;
  align-items: center;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.04em;
  font-weight: 400;
  color: $black;
  margin: 0;
  cursor: pointer;

  svg {
    margin-right: 8px;
    color: rgba(0, 0, 43, 0.5);
    font-size: 16px;
  }
}

.login__helpersForget {
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.04em;
  color: $black;
  font-weight: 500;
  margin: 0;
  cursor: pointer;
}

.login__question {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.04em;
  color: $black;
  font-weight: 400;
  margin: 0 0 13px;

  span {
    text-transform: uppercase;
    font-size: 7px;
  }
}

.login__signup {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.04em;
  color: $black;
  font-weight: 500;
  text-decoration: underline;
  cursor: pointer;
  margin: 0 0 30px;
}

.login__terms {
  font-size: 8px;
  line-height: 10px;
  color: $black;
  letter-spacing: 0.04em;
  font-weight: 400;
  margin: 0 0 1px;
  width: 313px;

  span {
    text-decoration: underline;
  }
}

.login__termsAdditional {
  margin: 0;
  font-size: 8px;
  line-height: 10px;
  color: $black;
  letter-spacing: 0.04em;
  font-weight: 400;
}

.login__inputLogin,
.login__inputPassword {
  margin-bottom: 20px;
  margin-left: 6px;
  width: 100%;

  &:last-child {
    margin-bottom: 0;
  }
}

.login__btn {
  margin: 0 auto 20px;
  max-width: 302px;
  width: 100%;
  height: 41px;

  svg {
    margin-right: 10px;
  }
}
