//colors//

$yellow: #feeb10;
$orange: #ff5c00;
$gray: rgba(0, 0, 43, 0.2);
$black: #00002b;
$green: rgb(40, 202, 15);

//fonts//

$Raleway: 'Raleway', sans-serif;
$Montserrat: 'Montserrat', sans-serif;
